{% extends 'partials/base.html' %}
{% load static %}


{% block title %}Metrics{% endblock %}


{% block body_content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">Histograph for each numerical feature</h4>
                </div>
    
                <div class="card-body">
                    <img src="{% static 'images/histograph.jpeg' %}" alt="histograph" width="1000">
                </div>
            </div>
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
    
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">Scatter plot for Calories vs. Protein</h4>
                </div>
    
                <div class="card-body">
                    <img src="{% static 'images/calories_protein.jpeg' %}" alt="histograph" width="1000">
                </div>
            </div>
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
    
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">Scatter plot for Carbs vs. Fat</h4>
                </div><!-- end card header -->
    
                <div class="card-body">
                    <img src="{% static 'images/carb_fat.jpeg' %}" alt="histograph" width="1000">
                </div><!-- end card-body -->
            </div><!-- end card -->
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
    
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">Box Plots for numerical features</h4>
                </div>
    
                <div class="card-body">
                    <img src="{% static 'images/box_plot.jpeg' %}" alt="histograph" width="1000">
                </div>
            </div>
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
    
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">Histograph of dataset</h4>
                </div>
    
                <div class="card-body">
                    <img src="{% static 'images/correlation.jpeg' %}" alt="histograph" width="1000">
                </div>
            </div>
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
    
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">Histograph of dataset</h4>
                </div>
    
                <div class="card-body">
                    <img src="{% static 'images/correlation.jpeg' %}" alt="histograph" width="1000">
                </div>
            </div>
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
</div>

{% endblock %}
